* {
  margin: 0;
  padding: 0;
}

main {
  transition: 0.7s;
  padding: 100px;
}

.typerGreeting {
  font-size: 2.5rem;
}

.introStack {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  padding: 25px 100px;
  font-size: 1.75rem;
}

.moreButton {
  width: 150px;
  height: 35px;
  border-style: none;
  border-radius: 5px;
  align-self: flex-end;
  margin: 75px;
}

.typerH {
  background-color: #0078d7;
  color: white;
}

.projectsInst {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 250px;
}

@media (max-width: 768px) {
  main {
    padding: 25px;
  }

  .typerGreeting {
    font-size: 1.5rem;
  }

  .introStack {
    padding: 25px;
    font-size: 1rem;
  }

  .projectsInst {
    margin-top: 150px;
  }
}