* {
  margin: 0;
  padding: 0;
}

.pageBreak {
  width: 100%;
  border: 2px solid black;
}

.jumpPoint {
  height: 25px;
}

main {
  transition: 0.7s;
  padding: 100px;
}

.typerGreeting {
  font-size: 2.5rem;
}

.introStack {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  padding: 25px 100px;
  margin-bottom: 250px;
  font-size: 1.75rem;
}

.introStack > p {
  line-height: 3rem;
  margin-bottom: 2rem;
}

.moreButton {
  cursor: pointer;
  width: 250px;
  height: 70px;
  border-style: none;
  border-radius: 5px;
  align-self: flex-end;
  margin: 75px;
  font-size: 1.75rem;
}

.typerH {
  background-color: #0078d7;
  color: white;
}

.projectsInst {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 100px;
  transition: 1s;
}

.projectsInst.hideInst {
  opacity: 0;
}

@media (max-width: 768px) {
  main {
    padding: 25px;
  }

  .typerGreeting {
    font-size: 1.5rem;
  }

  .introStack {
    padding: 25px;
    font-size: 1rem;
  }

  .moreButton {
    width: 150px;
    height: 35px;
    font-size: 1rem;
  }

  .projectsInst {
    margin-top: 150px;
  }
}