header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}


.headerIcon {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  width: 45px;
  height: 45px;
  margin-left: 50px;
}

.headerName {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  text-align: center;
  width: 25%;
}

.navBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.navLinksContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style: none;
  width: 80%;
}

.navLinksMenu {
  display: none;
  width: 45px;
  height: 45px;
  background-color: rebeccapurple;
  /* margin-right: 50px; */
}

.navLinksDrop {
  display: none;
  position: absolute;
  width: 200px;
  height: 500px;
  top: 0;
  right: 150px;
}

.navLink {
  margin: 0 20px;
}

.navThemeToggle {
  display: flex;
  flex-flow: column nowrap;
  width: 45px;
  height: 45px;
  margin: 0 50px 0 25px;
}

@media (max-width: 820px) {
  .headerIcon {
    margin-left: 25px;
  }
  
  .navLinksContainer {
    display: none;
  }

  .navLinksMenu {
    display: flex;
  }

  .navThemeToggle {
    margin-right: 25px;
  }
}