* {
  margin: 0;
  padding: 0;
}

.headerSpacer {
  width: 100%;
  height: 100px;
}

header {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  transition: 0.7s ease;
  z-index: 10;
}

.mainIcon {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  width: 45px;
  height: 45px;
  margin-left: 50px;
}

.headerName {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  text-align: center;
  font-size: 2.5rem;
  width: 25%;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.navLinksContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style: none;
  width: 80%;
  transition: 0.7s ease;
}

.navLinksMenu {
  display: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.menuBar {
  width: 45px;
  height: 5px;
  margin: 5px 0;
  transition: 1s ease;
}

.navLink {
  margin: 0 20px;
  font-size: 1.25rem;
  transition: 0.7s ease;
  cursor: pointer;
}

.navLink:hover {
  font-size: 1.75rem;
}

.navThemeToggle {
  display: flex;
  flex-flow: column nowrap;
  width: 45px;
  height: 45px;
  margin: 0 50px 0 25px;
}

@media (max-width: 768px) {
  .headerIcon {
    margin-left: 25px;
  }
  
  .navLinksContainer {
    position: fixed;
    flex-flow: column nowrap;
    top: 100px;
    right: -100%;
  }

  .navLinksMenu {
    display: flex;
    flex-flow: column nowrap;
  }

  .navLinksContainer.active {
    right: -30%;
  }

  .navLinksMenu.active .menuBar:nth-child(2){
    opacity: 0;
    transform: rotate(180deg);
  }
  .navLinksMenu.active .menuBar:nth-child(1){
    transform: translateY(15px) rotate(405deg);
    
  }
  .navLinksMenu.active .menuBar:nth-child(3){
    transform: translateY(-15px) rotate(-405deg);
    
  }

  .navLink {
    margin: 10px 20px;
  }

  .navThemeToggle {
    margin-right: 25px;
  }
}