* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}


.headerIcon {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  width: 45px;
  height: 45px;
  margin-left: 50px;
}

.headerName {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  text-align: center;
  width: 25%;
}

.navBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.navLinksContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style: none;
  width: 80%;
}

.navLinksMenu {
  display: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.menuBar {
  width: 45px;
  height: 5px;
  margin: 5px 0;
  background-color: black;
}

.navLink {
  margin: 0 20px;
  font-size: 1.5rem;
  transition: 0.7s ease;
  cursor: pointer;
}

.navLink:hover {
  font-size: 2rem;
}

.navThemeToggle {
  display: flex;
  flex-flow: column nowrap;
  width: 45px;
  height: 45px;
  margin: 0 50px 0 25px;
}

@media (max-width: 768px) {
  .headerIcon {
    margin-left: 25px;
  }
  
  .navLinksContainer {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    top: 100px;
    right: -35%;
  }

  .navLinksMenu {
    display: flex;
    flex-flow: column nowrap;
  }

  .navLink {
    margin: 10px 20px;
  }

  .navThemeToggle {
    margin-right: 25px;
  }
}