.leftToLive {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 0;
  width: 25%;
  height: 35%;
  transform: translate(-150%, -50%);
  transition: 0.7s ease;
  padding-right: 20px;
  border-start-end-radius: 5px;
  border-end-end-radius: 20px;
}

.leftToLive > button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: absolute;
  right: 0;
  height: 100%;
  width: 20px;
  border: none;
  border-start-end-radius: 5px;
  border-end-end-radius: 20px;
  cursor: pointer;
}
.rightToRepo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 0;
  width: 25%;
  height: 35%;
  transform: translate(150%, -50%);
  transition: 0.7s ease;
  padding-left: 20px;
  border-start-start-radius: 5px;
  border-end-start-radius: 20px;
}

.rightToRepo > button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: absolute;
  left: 0;
  height: 100%;
  width: 20px;
  border: none;
  border-start-start-radius: 5px;
  border-end-start-radius: 20px;
  cursor: pointer;
}

.contentRest {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.sendButton {
  cursor: pointer;
  width: 150px;
  height: 35px;
  border-style: none;
  border-radius: 5px;
  margin-top: 25px;
}

.toggleOffDiv {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
}

.active {
  transform: translate(0, -50%);
}

@media (max-width: 768px) {
  .leftToLive {
    width: 35%;
  }

  .rightToRepo {
    width: 35%;
  }

  .contentRest {
    margin: 0 10px;
  }

  .sendButton {
    width: 75px;
  }
}