.themeFlat {
  background-color: white;
}

.themeText {
  color: white;
}
.themeAltText {
  color: #E39774;
}


.primarybg {
  background-color: #325273;
}
.primarybd {
  border-color: #325273;
}


.secondarybg {
  background-color: #0A0A0A;
}
.secondarybd {
  border-color: #0A0A0A;
}


.terbg {
  background-color: #BEDFFE;
}
.terbd {
  border-color: #BEDFFE;
}


.highlightbg {
  background-color: #A0DBF8;
}
.highlightbd {
  border-color: #A0DBF8;
}


.altbg {
  background-color: #E39774;
}
.altbd {
  border-color: #E39774;
}

.cube > div {
  background-color: #0A0A0A;
  background-position: center;
  border: 2px solid #325273;
}

.cube > div > div.cubeImage {
  color: #BEDFFE;
}