.themeFlat {
  background-color: black;
}

.themeText {
  color: black;
}
.hoverThemeText:hover > span {
  color: black;
}
.themeAltText {
  color: #E39774;
}
.hoverAltText:hover {
  color: #E39774;
}


.primarybg {
  background-color: #BEDFFE;
}
.primarybd {
  border-color: #BEDFFE;
}
.hoverPrimarybg:hover {
  background-color: #BEDFFE;
}


.secondarybg {
  background-color: #325273;
}
.secondarybd {
  border-color: #325273;
}
.hoverSecondarybg:hover {
  background-color: #325273;
}


.terbg {
  background-color: #0A0A0A;
}
.terbd {
  border-color: #0A0A0A;
}
.hoverTerbg:hover {
  background-color: #0A0A0A;
}


.highlightbg {
  background-color: #A0DBF8;
}
.highlightbd {
  border-color: #A0DBF8;
}


.altbg {
  background-color: #E39774;
}
.altbd {
  border-color: #E39774;
}
.hoverAltbg:hover {
  background-color: #E39774;
}

.cube > div {
  background-color: #325273;
  background-position: center;
  border: 2px solid #A0DBF8;
  transition: 0.7s;
}

.cube > div > div.cubeImage {
  color: #0A0A0A;
}