* {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  width: 100%;
}

.iconsContainer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
  list-style: none;
}

.footerIcon {
  width: 45px;
}