.themeText {
  color: white;
}
.themeAltText {
  color: #E39774;
}


.primarybg {
  background-color: #325273;
}
.primarybd {
  border-color: #325273;
}


.secondarybg {
  background-color: #0A0A0A;
}
.secondarybd {
  border-color: #0A0A0A;
}


.terbd {
  background-color: #BEDFFE;
}
.terbg {
  border-color: #BEDFFE;
}


.highlightbg {
  background-color: #A0DBF8;
}
.highlightbd {
  border-color: #A0DBF8;
}


.altbg {
  background-color: #E39774;
}
.altbd {
  border-color: #E39774;
}